
@font-face {
  font-family: 'Neue Machina';
  src: url('./NeueMachina/NeueMachina-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Neue Machina Regular */
@font-face {
  font-family: 'Neue Machina';
  src: url('./NeueMachina/NeueMachina-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Neue Machina Ultrabold */
@font-face {
  font-family: 'Neue Machina';
  src: url('./NeueMachina/NeueMachina-Ultrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

body{
  max-width: 1728px;
  margin: 0 auto;
  font-family: Neue Machina;
  background-color: #f5f5f5; /* Light background color */
}